/* style.css */
:root {
    --background-color: #f0f0f0;
    --controls-background-color: #fff;
    --border-color: #ddd;
    --focus-border-color: #999;
    --text-color: #000;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#controls {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--controls-background-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#controls label,
#controls button {
    margin-right: 10px;
}

#controls input,
#controls select,
#controls button {
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: border-color 0.3s;
}

#controls input:focus,
#controls select:focus,
#controls button:focus {
    border-color: var(--focus-border-color);
}

#canvas {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}